body {
  font-family: arial, sans-serif;
}

h1 {
  color: #121213;
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #49484a;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 2px solid #8e8e8e;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.description-weather {
  margin-top: 8px;
  color: #8b8a8a;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 68px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active :hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 20px;
  opacity: 0.7;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 16px;
}
